// General colors
$darkred: #781d1e;
$red: #f01e1e;
// Reset styles

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: "Poppins", cursive;
}

.white-background {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.blue-background {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.red-background {
  background: linear-gradient(to right top, $red, darken($red, 20%));
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  opacity: 0.8;
}
h1 {
  color: $red;
}

h2 {
  color: $darkred;
}

.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}
button {
  appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  display: block;
  font-family: "Poppins", cursive;
  font-weight: 700;
}

// Site styles
body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  backdrop-filter: blur(10px);
  border-radius: 10px;

  &.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 425px;
    height: 155px;
    padding: 15px;
    width: 75%;
    h1 {
      color: black;
    }
    button {
      font-size: 24px;
      margin: 15px auto 0;
      padding: 15px 10px;
      width: 85%;
    }
  }
}

// Heroes Page

.main-wrapper {
  display: flex;
  height: 80vh;
  width: 90%;
  nav {
    align-items: center;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;

    .user-wrapper {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img {
        border: 3px solid white;
        border-radius: 50%;
        display: block;

        height: 100px;
        margin: 0 auto;
        width: 100px;
      }
      h1,
      h2 {
        color: white;
      }
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 16px;
        font-weight: 500;
      }

      button {
        color: $red;
        font-size: 16px;
        padding: 5px 0;
      }
    }
    .nav-links {
      h1 {
        color: white;
      }
      ul {
        li {
          align-items: center;
          display: flex;

          img {
            height: 40px;
            margin-right: 10px;
            width: 40px;
          }
          a {
            color: white;
            opacity: 0.8;
            text-decoration: none;
          }
        }
      }
    }
    .premium-badge {
      align-items: center;
      background-color: white;
      border-radius: 10px;
      display: flex;
      padding: 10px;
      width: 70%;
      h2 {
        color: $red;
        font-size: 14px;
        margin-right: 5px;
      }
      img {
        max-width: 60px;
      }
    }
  }
  .hero-wrapper {
    flex: 3;
    overflow: hidden;
    .heropage-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 35px 0;

      h1 {
        border-radius: 10px;
        color: white;
        display: inline-block;
        // margin-left: auto;
        padding: 10px 15px;
      }
      .card-columns {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
          background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5)
          );
          border-radius: 10px;
          box-shadow: 6px 6px 20px rgba(122, 122, 122, 0753);
          display: flex;
          height: 170px;
          margin-top: 25px;
          overflow: hidden;
          width: 80%;
          .card-img {
            flex: 1;
            img {
              max-width: 100%;
            }
          }
          .card-body {
            flex: 2;
            padding: 20px;
            h5 {
              color: $darkred;
              font-size: 18px;
            }
            p {
              color: $red;
              font-size: 16px;
              font-style: italic;
              opacity: 0.9;
              & + p {
                color: black;
                font-size: 14px;
                opacity: 0.8;
              }
            }
            a {
              border-radius: 10px;
              color: white;
              display: block;
              padding: 10px 15px;
              text-decoration: none;
              width: 150px;
            }
          }
        }
      }
    }
  }
}
